<!DOCTYPE html>
<html
        lang="en"
        ng-app="app"
        xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8" />
    <title>Custom Plunker</title>
    <link rel="stylesheet" type="text/css" href="https://rawgithub.com/angular-ui/ng-grid/v2.0.11/ng-grid.css" />
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>

<body ng-controller="MyCtrl">
<a ui-sref="state1">State One</a> | <a ui-sref="state2">State Two</a>
<br/>
<br/>
<div ui-view="ui-view"></div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
<script type="text/javascript" src="https://rawgit.com/angular-ui/ui-router/0.2.11/release/angular-ui-router.js"></script>
<script type="text/javascript" src="https://rawgithub.com/angular-ui/ng-grid/v2.0.13/build/ng-grid.debug.js"></script>
<script type="text/javascript" th:src="@{/main.js}"></script>

</body>

</html>