<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>index</title>
    <link data-require="bootstrap@3.3.7" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="https://rawgithub.com/angular-ui/ng-grid/v2.0.11/ng-grid.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
    <script type="text/javascript" src="https://rawgit.com/angular-ui/ui-router/0.2.11/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="https://rawgithub.com/angular-ui/ng-grid/v2.0.13/build/ng-grid.debug.js"></script>

    <style type="text/css">
        .gridStyle {
            height: 300px;
        }
    </style>

    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="myApp" ng-controller="StudentController">
    <ul class="nav nav-pills" ng-show="showMenu">
        <li role="presentation" ui-sref-active="active"><a ui-sref="news">News</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="about">About</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="student">Student</a></li>
    </ul>
    <div ui-view="viewTab" autoscroll="false"></div>

    <div class="gridStyle" hidden="hidden" ng-grid="gridOptionsIndex"></div>
</body>
</html>