<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>student</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
    <script type="text/javascript" src="https://rawgit.com/angular-ui/ui-router/0.2.11/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="https://rawgithub.com/angular-ui/ng-grid/v2.0.13/build/ng-grid.debug.js"></script>

    <script type="text/javascript" th:src="@{/app.js}"></script>
    <style type="text/css">
        .gridStyle {
            height: 300px;
        }
    </style>
</head>

<body ng-app="myApp">
<div class="gridStyle" ng-grid="gridOptions"></div>
</body>
</html>